body {
  font: 110% 100 Montserrat, sans-serif;
  line-height: 1.8;
  color: #000;
  background-color: #f3f3f3;
}

.jumbotron {
  background-color: #040404;
  color: #fff;
  padding-top: 200px 25px 100px 25px;
  font-family: Montserrat, sans-serif;
  background: url("../images/brooklynbackground.jpeg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: auto;
  min-height: 400px;
  width: 100%;
}

#jumbotitle {
  padding-top: 30px;
  text-shadow: 3px -3px 2px grey;
  color: #fff;
  font-weight: 600;
}

#jumbosub {
  font-weight: 600;
  font-family: Lato, sans-serif;
  font-size: 30px;
  letter-spacing: 1.6px;
}

.container-fluid {
  padding: 60px 50px;

}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.navbar {
  margin-bottom: 0;
  background-color: #f2d388;
  z-index: 9999;
  border: 0;
  font-size: 12.5px;
  line-height: 1.42857143;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

/* navigation bar text-color  */
#navigationbar > ul > li:nth-child(1) > a, #navigationbar > ul > li:nth-child(2) > a, #navigationbar > ul > li:nth-child(3) > a, #navigationbar > ul > li.dropdown > a, #homepage > nav > div > div.navbar-header > a
{
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

#homepage > nav > div > div.navbar-header > button {
  border-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #f2d388;
}

.navbar-nav li a:hover, .navbar-nav li.active a, #navigationbar > ul > li.dropdown.open > a {
  color: #f2d388 !important;
  background-color: #fff !important;
}


div.dropdown-menu {
  color: #f2d388;
  background-color: #f2d388;
}

#navigationbar > ul > li.dropdown.open > div {
  padding: 0px 0px;
  margin: 0px 0px;
}

.btn-block+.btn-block {
  margin-top: 0px;
}

/* border radius removal for social media buttons in navigation */
#navigationbar > ul > li.dropdown.open > div > a.btn.btn-block.btn-social.btn-twitter.text-capitalize, #navigationbar > ul > li.dropdown.open > div > a.btn.btn-block.btn-social.btn-facebook.text-capitalize, #navigationbar > ul > li.dropdown.open > div > a.btn.btn-block.btn-social.btn-instagram.text-capitalize {
  border-radius: 0px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse
{
  max-height: 271px;
}

footer {
  background-color: grey;
}

/* text in container */
#newstext {
  margin-top: 18px;
}

#newspicture {
  margin-bottom: 15px;
}
/* subscribe button in news */
#subscribe {
  margin-top: 3px;
  margin-bottom: 30px;
}

#news {
  margin-bottom: -70px;
}

/* news row-container */
#newsrow {
  background-color: #789499;
  color: #fff;
  text-shadow: 1px 1px #090909;
  font-size: 115%;
}

#newstoregister {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #f2d388;
  font-size: 110%;
  padding-bottom: 300px;
}

.containertitle {
  color: #fff;
  text-shadow: 3px 3px 4.5px #090909;
  font-size: 220%;
  font-style: bold;
}

#aug5row{
  background-color: #c98474;
  padding-bottom: 50px;
}

#aug6row{
  background-color: #a7d2cb;
  margin-top: 50px;
  padding-bottom: 50px;
}

#aug7row{
  background-color: #cccbc6;
  margin-top: 50px;
  padding-bottom: 50px;
}

#aug8row{
  background-color: #c7d8c6;
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -60px;
}

.moviecontainer {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.rotten {
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-container {
  background-color: #f3f3f3;
  border: 5px solid #f2d388;
  border-radius: 10px;
  padding: -30px;
  margin-bottom: 20px;
}

.movie-poster {
  margin-top: 25px;
  box-shadow: 10px 5px 5px black;
}

hr {
  background-color: #f3f3f3;
  color: #f3f3f3;
  border: solid 2px #f3f3f3;
  height: 2px;
}

div.col-md-2.col-sm-3.col-xs-12 {
  margin-top: 15px;
}

/* register row-container */
#registerrow {
  background-color: #789499;
  color: #fff;
  text-shadow: 1px 1px #090909;
  font-size: 115%;
}

#registersubtitle {
  color: #fff;
}

#arrowup {
  font-size: 300%;
  text-shadow: -5px -5px 10px #fff;
}

#seal {
  padding-top: 20px;
}

/* bridge site image link in footer */
#bridgelogo {
  padding-top: 40px;
}

/* social media icons padding */
ul.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-12{
  padding-top: 40px;
}

/* footer links */
a.list-group-item, button.list-group-item.flink {
  background-color: grey;
  border: none;
  color: #f3f3f3;
  font-size: 110%;
  font-weight: 600;
}


/* responsive adjustments */

/* xs devices */
@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {
  .logo {
    font-size: 150px;
  }
}
